.assets
.idea
.vscode
**/venv/
**/__pycache__/
**/__MACOSX/
**/pyvenv.cfg
**/local_cache/
**/*.DS_Store
**/*.onnx
**/*.pth
**/*.pt
**/*.png
**/*.jpg
**/*.zip
**/*.env
**/tests/
**/temp/
**/*.deb
**/*.deb.1
**/*.run
**/*.save